[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary
[submodule "themes/puer"]
	path = themes/puer
	url = git@github.com:wangloo/hugo-theme-puer.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url =   git@github.com:wangloo/hugo-notice.git
